/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand: #16B6B3;
  --vp-c-brand-1: #46C7C1;
  --vp-c-brand-2: #77D7D0;
  --vp-c-brand-light: #46C7C1;
  /* --vp-c-brand-lighter: #9499ff; */
  --vp-c-brand-lighter: #77D7D0;
  --vp-c-brand-lightest: #A7E8DE;
  --vp-c-brand-dark: #129A97;
  --vp-c-brand-darker: #0E7E7C;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #129A97 30%,
    #5bd4f5
  );
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #8cf9f6 50%, #6fdffd 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #129A97 50%,
    #3f9fb9 50%
  );
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

@font-face {
  font-family: 'GoodTime';
  src: url('/font/goodtime.ttf') format('truetype');
}

div.VPNavBarTitle > a.title {
  font-family: 'Mulish', sans-serif;
  font-size: 22px;
}

a.title > img.logo {
  height: 40px;
}

hr.thick {
  border:2px solid gray
}

th.green_highlight {
  background-color:#ABF5D1;
  font-weight: 800;
}

th.yellow_highlight {
  background-color:#FFF0B3;
  font-weight: 800;
}

th.red_highlight {
  background-color:#FFBDAD;
  font-weight: 800;
}

th.header_bold {
  font-weight: 800;
}

.green_highlight {
  text-align: center;
  background-color:#ABF5D1;
}

.yellow_highlight {
  text-align: center;
  background-color:#FFF0B3;
}

.red_highlight {
  text-align: center;
  background-color:#FFBDAD;
}

.ci_logo {
  height: 80px;
}